<br>
<div class="row flex-row flex-nowrap horizontalScroll" style="overflow-x: scroll;">
    <div class="col col-lg-4 col-md-6 col-12" *ngFor="let project of cardContent">
        <div class="card">
            <img [src]="cardImageLocation" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{project.name}}</h5>
                <p class="card-text">{{project.description}}</p>
                <a href="#" class="btn blue-default float-end">Expand</a>
            </div>
        </div>
    </div>
</div>