<div class="container">
    <div class="row">
        <div class="col col-lg-4 col-md-4 col-8">
            <h3 class="blue-default-text">Works-in-Progress</h3>
        </div>
        <div class="d-grid col-lg-4 offset-lg-4 col-md-4 offset-md-4 d-none d-sm-block">
            <button class="btn blue-default btn-rounded float-end">
                <i class="bi bi-plus"></i>
                Add New Project
            </button>
        </div>
        <div class="d-grid col-4 d-block d-sm-none">
            <button class="btn blue-default btn-rounded float-end">
                <i class="bi bi-plus"></i>
                New
            </button>
        </div>
    </div>
    <br>
    <div class="row flex-row flex-nowrap horizontalScroll" style="overflow-x: scroll;">
        <div class="col col-lg-4 col-md-6 col-12">
            <div class="card">
                <img src="../../assets/random_project.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn blue-default float-end">Expand</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-12">
            <div class="card">
                <img src="../../assets/random_project.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn blue-default float-end">Expand</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-12">
            <div class="card">
                <img src="../../assets/random_project.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn blue-default float-end">Expand</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-12">
            <div class="card">
                <img src="../../assets/random_project.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn blue-default float-end">Expand</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-12">
            <div class="card">
                <img src="../../assets/random_project.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn blue-default float-end">Expand</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col col-lg-3">
            <h3 class="blue-default-text">Completed</h3>
        </div>
    </div>
    <br>
    <div class="row flex-row flex-nowrap horizontalScroll" style="overflow-x: scroll;">
        <div class="col col-lg-4 col-md-6 col-12">
            <div class="card">
                <img src="../../assets/random_project.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn blue-default float-end">Expand</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-12">
            <div class="card">
                <img src="../../assets/random_project.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn blue-default float-end">Expand</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-12">
            <div class="card">
                <img src="../../assets/random_project.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn blue-default float-end">Expand</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-12">
            <div class="card">
                <img src="../../assets/random_project.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn blue-default float-end">Expand</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-12">
            <div class="card">
                <img src="../../assets/random_project.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn blue-default float-end">Expand</a>
                </div>
            </div>
        </div>
    </div>
</div>