/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "../src/assets/css/defaultStyle.css";

.active{
    color: rgba(255,255,255) !important;
    font-weight: 600;
}

.btn-rounded {
    border-radius: 2rem;
}

.blue-default {
    background-color: var(--primary-color);
    color: var(--white-color);
}

a.blue-default:hover,button.blue-default:hover {
    background-color: #1f4b7dde;
    color: var(--white-color);;
}

.blue-default-text {
    color: var(--primary-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.horizontalScroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.horizontalScroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
